@model PizzaBox.WebClient.Models.StoreViewModel

<h2>User name: @Model.Username</h2>

<h2>Order history:</h2><br>

   @foreach (var item in Model.ListofOrders)
  {
    <p>@item</p>
    <br>

  }


<form asp-action="StoreHome" asp-controller="Store" asp-antiforgery="true" method="GET">
  <input name = "Name" value = "@Model.Name" hidden = "true">
  <button type="submit" class ="button" >Back</button>
 
</form>

