@model PizzaBox.WebClient.Models.StoreViewModel


<form asp-action="HistoryByUsername" asp-controller="Store" asp-antiforgery="true" method="POST">
<h2>Search by Username:</h2>
<input type = "text" name = "Username" placeholder="Username" required = "true">
<input name = "Name" value = "@Model.Name" hidden = "true">
<button type="submit" class ="button" >Search</button>
</form>
<br><br>
<form asp-action="HistoryByAll" asp-controller="Store" asp-antiforgery="true" method="GET">
  <h2>Search all Orders:</h2>
  <input name = "Name" value = "@Model.Name" hidden = "true">
  <button type="submit" class ="button">Search All</button>
</form>
<br><br>

<form asp-action="StoreHome" asp-controller="Store" asp-antiforgery="true" method="GET">
  <input name = "Name" value = "@Model.Name" hidden = "true">
  <button type="submit" class ="button" >Back</button>
</form>