@model PizzaBox.WebClient.Models.CustomerViewModel

@{
  Layout = "_Layout";
}

<section>
  @if(Model.ErrorMessage != null)
  {
    <h3>Error: @Model.ErrorMessage</h3>
  }
</section>
<section id = "pizzaPicture">
<p>Order Pizza Today!</p>
</section>
<!--
<section>
  @Model.Name
</section>
-->
@Html.Partial("Order", Model.Order)

<section>
  <h1>Order History</h1>
   @foreach (var item in Model.OrderHistory)
  {
    <p>@item</p>

  }
</section>


