

<h2>Select a Role:</h2><br>
<form asp-action="ToStoreSelection" asp-controller="Store" asp-antiforgery="true" method="GET">

  <button type="submit">Store</button>
</form>

<form asp-action="Home" asp-controller="Customer" asp-antiforgery="true" method="GET">
  <button type ="submit">Customer</button>
</form>
