@model PizzaBox.WebClient.Models.StoreViewModel

<p>Sales for the Week:</p>
<p>@Model.OrderHistory</p>

<p>Sales for the Month:</p>
<p>@Model.MonthSales</p>

<form asp-action="StoreHome" asp-controller="Store" asp-antiforgery="true" method="GET">
  <input name = "Name" value = "@Model.Name" hidden = "true">
  <button type="submit" class ="button">Back</button>
</form>
