@model PizzaBox.WebClient.Models.OrderViewModel


<h2>Thank you for your order!</h2>
<br>
<form asp-action="Home" asp-controller="Customer" asp-antiforgery="true" method="GET">
  <button type ="submit" class ="button">Home</button>
</form>
 